.loginWrapper {
  display: flex;
  justify-content: center;
}

.loginCard {
  /* width: 27vw; */
  margin-top: 5%;
}

.insta-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 6%;
  width: 100%;
}

.insta-logo img {
  width: 15vw;
}

@media(min-width: 600px) and (max-width: 900px) {
  .insta-logo img {
    width: 26vw;
  }

  .loginCard {
    /* width: 27vw; */
    margin-top: 10%;
  }
}

@media(max-width: 415px) {
  .insta-logo img {
    width: 49vw;
  }

  .loginCard {
    /* width: 27vw; */
    margin-top: 20%;
  }
}

/* @media(min-width: 901px){
  
} */


