.loginWrapper {
  display: flex;
  justify-content: center;
}

.loginCard {
  width: 27vw;
  margin-top: 8%;
}

.insta-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}

.insta-logo img {
  width: 15vw;
}

.imgCar {
  margin-top: 8vh;
  height: 590px;
  width: 441px;
}

.car {
  width: 244px;
  margin-top: 19%;
  margin-left: 32%;
}
