.signupWrapper{
    display: flex;
    justify-content: center;
}

.signupCard{
    width: 27vw;
    margin-top: 5%;
}

.insta-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.insta-logo img{
    width: 15vw;
}